<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Items</title>
</head>
<body>
    <h1>Your  File</h1>

    <p>download  <a href="{{file.file.url}}" download="">{{file.file}}</a></p>

<!--     <p>save   <a href="save?file_id={{file.file_id}}">{{file.file}}</a></p> -->
    <!-- <br> -->
    <!-- <a href="/chunked_files/{{user}}/{{file}}" download="">{{file}}</a> -->
   
    
 
    
<p>    <a href="/">Back</a>
</p>    
</body>
</html>
