
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Items</title>
</head>
<body>
    {% if file  %}
    <h1>Your  File</h1>
    <p>Download <a href="{{file.file.url}}" download="">{{file.file}}</a></p>
    
    <p>would you like save your file  for download later </p>

    <p>   <a  href="/save?file_id={{file.file_id}}">Yes, Save File</a></p>
    {% else %}
    <h1>You cannot view this page or file not found</h1>
    <p>if you think this is an error, contact the admin or read the docs</p>
    {% endif %}

<!--     <p>save   <a href="save?file_id={{file.file_id}}">{{file.file}}</a></p> -->
    <!-- <br> -->
   
    
    <br>
    
<p>    <a href="/">Back</a> </p>    

</body>
</html>
